<div class="col-md-4 offset-md-2">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label>Frecuencia</label>
                    <input placeholder="Frequency" type="text" name="Frequency" class="form-control" [(ngModel)]="frequency.frequency" autofocus/>
                </div>
                <br>
                <button class="btn btn-success" (click)="validateFrequency()" >Guardar</button>
            </form>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card card-body text-center">
        <h1>{{frequency.frequencyId}} | {{frequency.frequency==''?'Frecuencia':frequency.frequency}}</h1>
    </div>
</div>