<!-- <div class="col-md-4 offset-md-2">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label>Periodos</label>
                    <input placeholder="Period" type="text" name="Period" class="form-control" [(ngModel)]="period.period" autofocus/>
                </div>
                <br>
                <button class="btn btn-success" (click)="validatePeriod()" >Guardar</button>
            </form>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card card-body text-center">
        <h1>{{period.periodId}} | {{period.period==''?'Periodo':period.period}}</h1>
    </div>
</div> -->
