<div>
    <a class="btn btn-success" routerLink="/frequencies/add" routerLinkActive="Active" style="color:white;"><i class="fa-solid fa-plus"></i> Añadir Frequency</a>
</div>
<div class="col-md-4" *ngFor="let frequency of frequencies">
    <br>
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center" >
            <p></p>
            <button class="btn btn-danger" (click)="deleteFrequency(frequency.frequencyId)"><i class="fa-solid fa-minus"></i></button>
        </div>
        <div class="card-body">
            <p>{{frequency.frequency}} 
            </p>
            <a [routerLink]="['/frequencies/edit',frequency.frequencyId]" class="btn btn-info"><i class="fa-solid fa-pencil"></i></a>
        </div>
    </div>
</div>