<div>
    <a class="btn btn-success" routerLink="/courses/add" routerLinkActive="Active" style="color:white;"><i class="fa-solid fa-plus"></i> Añadir Curso</a>
</div>
<div class="col-md-4" *ngFor="let course of courses">
    <br>
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center" >
            CRN: {{course.crn}}
            <button class="btn btn-danger" (click)="deleteCourse(course.crn)"><i class="fa-solid fa-minus"></i></button>
        </div>
        <div class="card-body">
            <p>
                Course Name: {{course.courseName}}
            </p>
            <p>
                Starting Date: {{course.startingDate | date:'yyyy-MM-dd'}}
            </p>
            <p>Frequency: {{course.frequency}}</p>
            <p>Schedule: {{course.startingTime}}-{{course.endingTime}}</p>
            <p>Program: {{course.program}}</p>
            <p>Period: {{course.period}}</p>
            <p>Teacher: {{course.firstName}} {{course.fatherLastName}} {{course.motherLastName}}</p>
            <a class="btn btn-info" [routerLink]="['/courses/edit', course.crn]"><i class="fa-solid fa-pen-to-square"></i></a>
            <a style="margin-left: 10px;" class="btn btn-info" [routerLink]="['/courseDetails', course.crn]"><i class="fa-solid fa-list-ol"></i></a>
        </div>
    </div>
</div>

