<div class="col-md-4 offset-md-2">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label>Nombre</label>
                    <input placeholder="Name" type="text" name="Name" class="form-control" [(ngModel)]=" coordinator.firstName" autofocus/>
                </div>
                <div class="form-group">
                    <label>Apellido Paterno</label>
                    <input placeholder="Father Last Name" type="text" name="FatherLastName" class="form-control" [(ngModel)]="coordinator.fatherLastName" autofocus/>
                </div>
                <div class="form-group">
                    <label>Apellido Materno</label>
                    <input placeholder="Mother Last Name" type="text" name="MotherLastName" class="form-control" [(ngModel)]="coordinator.motherLastName" autofocus/>
                </div>
                <div class="form-group">
                    <label>RFC</label>
                    <input placeholder="RFC" type="text" name="rfc" class="form-control" [(ngModel)]="coordinator.rfc" maxlength="13" autofocus/>
                </div>
                <div class="form-group">
                    <label>Celular</label>
                    <input placeholder="Phone Number" type="text" name="phoneNumber" class="form-control" [(ngModel)]="coordinator.phoneNumber" maxlength="10" autofocus/>
                </div>
                <div class="form-group">
                    <label>Correo Electrónico</label>
                    <input placeholder="Email" type="email" name="email" class="form-control" [(ngModel)]="coordinator.email" autofocus/>
                </div>
                <div class="form-group">
                    <label>Fecha de Contratación</label>
                    <input placeholder="Hiring Date" [(ngModel)]="edit ? dateString: coordinator.hiringDate" type="date" name="hiringDate" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Foto</label>
                    <input placeholder="Photo" type="url" name="photourl" [(ngModel)]="coordinator.photourl == '/assets/NoImage.jpg' ? '' : coordinator.photourl" class="form-control"/>
                </div>
                <br>
                <button class="btn btn-success" (click)="edit ? updateCoordinator(): saveNewCoordinator()" >Guardar</button>
            </form>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card card-body text-center">
        <img class="card-img-top" [src]="coordinator.photourl==''?'/assets/NoImage.jpg':coordinator.photourl">
        <h1>{{coordinator.coordinatorId}} | {{coordinator.firstName==''?'Nombre':coordinator.firstName}} {{coordinator.fatherLastName==''?'Apellido':coordinator.fatherLastName}}</h1>
        <p>{{coordinator.hiringDate | date:'yyyy-MM-dd'}}</p>
    </div>
</div>


